USE [master]
GO
/****** Object:  Database [EventBooker]    Script Date: 14/07/2024 18:53:48 ******/
CREATE DATABASE [EventBooker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EventBooker', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EventBooker.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EventBooker_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EventBooker_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EventBooker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EventBooker]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 14/07/2024 18:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Dni] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Direccion] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Contacto] [int] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamiliaPermiso]    Script Date: 14/07/2024 18:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaPermiso](
	[IdFamilia] [int] NOT NULL,
	[IdPermiso] [int] NOT NULL,
 CONSTRAINT [PK_FamiliaPermiso] PRIMARY KEY CLUSTERED 
(
	[IdFamilia] ASC,
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 14/07/2024 18:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[IdIdioma] [int] IDENTITY(1,1) NOT NULL,
	[Idioma] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[IdIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IdiomaControl]    Script Date: 14/07/2024 18:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdiomaControl](
	[IdIdiomaControl] [int] IDENTITY(1,1) NOT NULL,
	[IdIdioma] [int] NOT NULL,
	[NombreControl] [nvarchar](100) NOT NULL,
	[Traduccion] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_IdiomaControl] PRIMARY KEY CLUSTERED 
(
	[IdIdiomaControl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 14/07/2024 18:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[IdPerfil] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Perfil] PRIMARY KEY CLUSTERED 
(
	[IdPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerfilPermiso]    Script Date: 14/07/2024 18:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerfilPermiso](
	[IdPerfil] [int] NOT NULL,
	[IdPermiso] [int] NOT NULL,
 CONSTRAINT [PK_PerfilPermiso] PRIMARY KEY CLUSTERED 
(
	[IdPerfil] ASC,
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 14/07/2024 18:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[IdPermiso] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[IsFamilia] [bit] NOT NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 14/07/2024 18:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[IdReserva] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdSalon] [int] NOT NULL,
	[Descripcion] [nvarchar](100) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Turno] [nvarchar](12) NOT NULL,
	[Invitados] [int] NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Reserva] PRIMARY KEY CLUSTERED 
(
	[IdReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservaServicio]    Script Date: 14/07/2024 18:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservaServicio](
	[IdReserva] [int] NOT NULL,
	[IdServicio] [int] NOT NULL,
 CONSTRAINT [PK_ReservaServicio] PRIMARY KEY CLUSTERED 
(
	[IdReserva] ASC,
	[IdServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon]    Script Date: 14/07/2024 18:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon](
	[IdSalon] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Ubicacion] [nvarchar](100) NOT NULL,
	[Precio] [money] NOT NULL,
	[PrecioCubierto] [money] NOT NULL,
	[Capacidad] [int] NOT NULL,
	[CantidadMinimaInvitados] [int] NOT NULL,
 CONSTRAINT [PK_Salon] PRIMARY KEY CLUSTERED 
(
	[IdSalon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicio]    Script Date: 14/07/2024 18:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio](
	[IdServicio] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[Valor] [money] NOT NULL,
 CONSTRAINT [PK_Servicio] PRIMARY KEY CLUSTERED 
(
	[IdServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14/07/2024 18:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [char](64) NOT NULL,
	[IsBlock] [bit] NOT NULL,
	[Dni] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Mail] [nvarchar](50) NOT NULL,
	[IdPerfil] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([IdCliente], [Dni], [Nombre], [Apellido], [Direccion], [Email], [Contacto]) VALUES (1, 23765124, N'Rodolfo', N'Perez', N'0qlqdR2zTI3WmguaDnivH7Gi/i9TaoVHkwpzoAm9QBthfTeq6BerGcAPllN+Z2Pc', N'perezrodolfo@gmail.com', 1123425678)
INSERT [dbo].[Cliente] ([IdCliente], [Dni], [Nombre], [Apellido], [Direccion], [Email], [Contacto]) VALUES (2, 44721231, N'Lucas', N'Fernandez', N'r8iBLB1j5kuBs9Wq4738mh1SYHakbqg6Mrx14OA0b2kB6zbdg7OgHTREaXHYugT0', N'lucas.fernandez@hotmail.com', 1132567849)
INSERT [dbo].[Cliente] ([IdCliente], [Dni], [Nombre], [Apellido], [Direccion], [Email], [Contacto]) VALUES (3, 23123321, N'Hernan', N'Borda', N'Exv6g/7R5+JruSy3OqqZ2j1xuSmRAvN47RAg2J9f78HEfx0vZ5TbUNMMVkXrR4Ds', N'herni.borda@gmail.com', 1121326537)
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
INSERT [dbo].[FamiliaPermiso] ([IdFamilia], [IdPermiso]) VALUES (1003, 1)
INSERT [dbo].[FamiliaPermiso] ([IdFamilia], [IdPermiso]) VALUES (1003, 2)
INSERT [dbo].[FamiliaPermiso] ([IdFamilia], [IdPermiso]) VALUES (1003, 3)
GO
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([IdIdioma], [Idioma]) VALUES (1, N'Español')
INSERT [dbo].[Idioma] ([IdIdioma], [Idioma]) VALUES (2, N'Ingles')
INSERT [dbo].[Idioma] ([IdIdioma], [Idioma]) VALUES (3, N'Portugués')
SET IDENTITY_INSERT [dbo].[Idioma] OFF
GO
SET IDENTITY_INSERT [dbo].[IdiomaControl] ON 

INSERT [dbo].[IdiomaControl] ([IdIdiomaControl], [IdIdioma], [NombreControl], [Traduccion]) VALUES (1, 1, N'LblInicioSesion', N'Iniciar Sesion')
INSERT [dbo].[IdiomaControl] ([IdIdiomaControl], [IdIdioma], [NombreControl], [Traduccion]) VALUES (3, 1, N'LblIdioma', N'Idioma')
INSERT [dbo].[IdiomaControl] ([IdIdiomaControl], [IdIdioma], [NombreControl], [Traduccion]) VALUES (4, 1, N'LblUsuario', N'Usuario:')
GO
SET IDENTITY_INSERT [dbo].[IdiomaControl] OFF
GO
SET IDENTITY_INSERT [dbo].[Perfil] ON 

INSERT [dbo].[Perfil] ([IdPerfil], [Descripcion]) VALUES (1, N'Administrador')
INSERT [dbo].[Perfil] ([IdPerfil], [Descripcion]) VALUES (5, N'Cajera')
INSERT [dbo].[Perfil] ([IdPerfil], [Descripcion]) VALUES (7, N'Contador')
SET IDENTITY_INSERT [dbo].[Perfil] OFF
GO
INSERT [dbo].[PerfilPermiso] ([IdPerfil], [IdPermiso]) VALUES (1, 1003)
INSERT [dbo].[PerfilPermiso] ([IdPerfil], [IdPermiso]) VALUES (5, 1005)
INSERT [dbo].[PerfilPermiso] ([IdPerfil], [IdPermiso]) VALUES (7, 1012)
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([IdPermiso], [Nombre], [IsFamilia]) VALUES (1, N'Administrador', 0)
INSERT [dbo].[Permiso] ([IdPermiso], [Nombre], [IsFamilia]) VALUES (2, N'Maestros', 0)
INSERT [dbo].[Permiso] ([IdPermiso], [Nombre], [IsFamilia]) VALUES (3, N'Registrar Reserva', 0)
SET IDENTITY_INSERT [dbo].[Permiso] OFF
GO
SET IDENTITY_INSERT [dbo].[Reserva] ON 

INSERT [dbo].[Reserva] ([IdReserva], [IdCliente], [IdSalon], [Descripcion], [Fecha], [Turno], [Invitados], [Estado]) VALUES (3, 1, 2, N'Fiesta de 15', CAST(N'2024-06-16' AS Date), N'Diurno', 50, N'Confirmado')
INSERT [dbo].[Reserva] ([IdReserva], [IdCliente], [IdSalon], [Descripcion], [Fecha], [Turno], [Invitados], [Estado]) VALUES (4, 4, 2, N'Fiesta infantil', CAST(N'2024-06-17' AS Date), N'Diurno', 120, N'Confirmado')
INSERT [dbo].[Reserva] ([IdReserva], [IdCliente], [IdSalon], [Descripcion], [Fecha], [Turno], [Invitados], [Estado]) VALUES (6, 3, 3, N'Fiesta de 50', CAST(N'2024-06-17' AS Date), N'Nocturno', 123, N'Confirmado')
SET IDENTITY_INSERT [dbo].[Reserva] OFF
GO
INSERT [dbo].[ReservaServicio] ([IdReserva], [IdServicio]) VALUES (6, 1)
INSERT [dbo].[ReservaServicio] ([IdReserva], [IdServicio]) VALUES (6, 3)
INSERT [dbo].[ReservaServicio] ([IdReserva], [IdServicio]) VALUES (6, 4)
GO
SET IDENTITY_INSERT [dbo].[Salon] ON 

INSERT [dbo].[Salon] ([IdSalon], [Nombre], [Ubicacion], [Precio], [PrecioCubierto], [Capacidad], [CantidadMinimaInvitados]) VALUES (2, N'Azaila Lomas', N'Manuel Acevedo 440, Lomas de zamora', 1500000.0000, 20000.0000, 350, 100)
INSERT [dbo].[Salon] ([IdSalon], [Nombre], [Ubicacion], [Precio], [PrecioCubierto], [Capacidad], [CantidadMinimaInvitados]) VALUES (3, N'Azaila Banfield', N'Av. Adolfo Alsina 527, Banfield', 1200000.0000, 15000.0000, 280, 80)
SET IDENTITY_INSERT [dbo].[Salon] OFF
GO
SET IDENTITY_INSERT [dbo].[Servicio] ON 

INSERT [dbo].[Servicio] ([IdServicio], [Descripcion], [Valor]) VALUES (1, N'Decoración Personalizada', 250000.0000)
INSERT [dbo].[Servicio] ([IdServicio], [Descripcion], [Valor]) VALUES (3, N'Isla de sushi', 450000.0000)
INSERT [dbo].[Servicio] ([IdServicio], [Descripcion], [Valor]) VALUES (4, N'DJ', 230000.0000)
SET IDENTITY_INSERT [dbo].[Servicio] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [IsBlock], [Dni], [Nombre], [Apellido], [Mail], [IdPerfil]) VALUES (1, N'Admin', N'60fe74406e7f353ed979f350f2fbb6a2e8690a5fa7d1b0c32983d1d8b3f95f67', 0, 44891735, N'Tomas', N'Juarez', N'tjuarez.tm@hotmail.com', 1)
INSERT [dbo].[Users] ([Id], [Username], [Password], [IsBlock], [Dni], [Nombre], [Apellido], [Mail], [IdPerfil]) VALUES (8, N'44891731Tomito', N'9e4a7c6ecf0c36970cae6d88c83c680c50f433729f002a227ba0a0bcef61ebb7', 0, 44891731, N'Tomito', N'Juarez', N'tomito@gmail.com', 1)
INSERT [dbo].[Users] ([Id], [Username], [Password], [IsBlock], [Dni], [Nombre], [Apellido], [Mail], [IdPerfil]) VALUES (10, N'44891733Facundo', N'4a244560e09cc5fe9d0217145170262f0c68a3f3e746516ba0db12c043c5716f', 0, 44891733, N'Facundo', N'Juarez', N'facundo@gmail.com', 7)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [NonClusteredIndex_Dni_Unique]    Script Date: 14/07/2024 18:53:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [NonClusteredIndex_Dni_Unique] ON [dbo].[Cliente]
(
	[Dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [NonClusteredIndex-20240714-143152]    Script Date: 14/07/2024 18:53:49 ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20240714-143152] ON [dbo].[IdiomaControl]
(
	[IdIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NonClusteredIndex-20240714-143225]    Script Date: 14/07/2024 18:53:49 ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20240714-143225] ON [dbo].[IdiomaControl]
(
	[NombreControl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NonClusteredIndex-20240714-144406]    Script Date: 14/07/2024 18:53:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [NonClusteredIndex-20240714-144406] ON [dbo].[Perfil]
(
	[Descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NonClusteredIndex-20240714-144341]    Script Date: 14/07/2024 18:53:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [NonClusteredIndex-20240714-144341] ON [dbo].[Permiso]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [NonClusteredIndex_Dni_Unique]    Script Date: 14/07/2024 18:53:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [NonClusteredIndex_Dni_Unique] ON [dbo].[Users]
(
	[Dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FamiliaPermiso]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaPermiso_Permiso] FOREIGN KEY([IdFamilia])
REFERENCES [dbo].[Permiso] ([IdPermiso])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FamiliaPermiso] CHECK CONSTRAINT [FK_FamiliaPermiso_Permiso]
GO
ALTER TABLE [dbo].[FamiliaPermiso]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaPermiso_Permiso1] FOREIGN KEY([IdPermiso])
REFERENCES [dbo].[Permiso] ([IdPermiso])
GO
ALTER TABLE [dbo].[FamiliaPermiso] CHECK CONSTRAINT [FK_FamiliaPermiso_Permiso1]
GO
ALTER TABLE [dbo].[IdiomaControl]  WITH CHECK ADD  CONSTRAINT [FK_IdiomaControl_Idioma] FOREIGN KEY([IdIdioma])
REFERENCES [dbo].[Idioma] ([IdIdioma])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IdiomaControl] CHECK CONSTRAINT [FK_IdiomaControl_Idioma]
GO
ALTER TABLE [dbo].[PerfilPermiso]  WITH CHECK ADD  CONSTRAINT [FK_PerfilPermiso_Perfil] FOREIGN KEY([IdPerfil])
REFERENCES [dbo].[Perfil] ([IdPerfil])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PerfilPermiso] CHECK CONSTRAINT [FK_PerfilPermiso_Perfil]
GO
ALTER TABLE [dbo].[PerfilPermiso]  WITH CHECK ADD  CONSTRAINT [FK_PerfilPermiso_Permiso] FOREIGN KEY([IdPermiso])
REFERENCES [dbo].[Permiso] ([IdPermiso])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PerfilPermiso] CHECK CONSTRAINT [FK_PerfilPermiso_Permiso]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Cliente]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Salon] FOREIGN KEY([IdSalon])
REFERENCES [dbo].[Salon] ([IdSalon])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Salon]
GO
ALTER TABLE [dbo].[ReservaServicio]  WITH CHECK ADD  CONSTRAINT [FK_ReservaServicio_Reserva] FOREIGN KEY([IdReserva])
REFERENCES [dbo].[Reserva] ([IdReserva])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReservaServicio] CHECK CONSTRAINT [FK_ReservaServicio_Reserva]
GO
ALTER TABLE [dbo].[ReservaServicio]  WITH CHECK ADD  CONSTRAINT [FK_ReservaServicio_Servicio] FOREIGN KEY([IdServicio])
REFERENCES [dbo].[Servicio] ([IdServicio])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReservaServicio] CHECK CONSTRAINT [FK_ReservaServicio_Servicio]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Perfil] FOREIGN KEY([IdPerfil])
REFERENCES [dbo].[Perfil] ([IdPerfil])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Perfil]
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateCliente]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CreateCliente]
(
	@In_Dni int,
	@In_Nombre nvarchar(50),
	@In_Apellido nvarchar(50),
	@In_Direccion nvarchar(100),
	@In_Email nvarchar(100),
	@In_Contacto int
)
AS
BEGIN
	
	INSERT INTO Cliente (Dni, Nombre, Apellido, Direccion, Email, Contacto)
	VALUES (@In_Dni, @In_Nombre, @In_Apellido, @In_Direccion, @In_Email, @In_Contacto)

END
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateFamilia]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CreateFamilia]
(
	@In_nombre nvarchar(50),

	@Out_Id int OUTPUT	
)
AS 
BEGIN
	IF NOT EXISTS(SELECT * FROM Permiso WHERE Nombre = @In_nombre)
	BEGIN
		INSERT INTO Permiso (Nombre, IsFamilia)
		VALUES (@In_nombre, 1)

		SET @Out_Id = SCOPE_IDENTITY()	
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CreatePerfil]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CreatePerfil]
(
	@In_Descripcion nvarchar(50),

	@Out_Id int OUTPUT	
)
AS
BEGIN
	IF NOT EXISTS(SELECT * FROM Perfil WHERE Descripcion = @In_Descripcion)
	BEGIN
		INSERT INTO Perfil(Descripcion)
		VALUES (@In_Descripcion)

		SET @Out_Id = SCOPE_IDENTITY()	
	END
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CreatePermisoFamilia]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CreatePermisoFamilia]
(
	@In_IdFamilia int,
	@In_IdPermiso int
)
AS 
BEGIN
	INSERT INTO FamiliaPermiso(IdFamilia, IdPermiso)
	VALUES (@In_IdFamilia, @In_IdPermiso)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CreatePermisoPerfil]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CreatePermisoPerfil]
(
	@In_IdPerfil int,
	@In_IdPermiso int	
)
AS
BEGIN
	INSERT INTO PerfilPermiso(IdPerfil, IdPermiso)
	VALUES (@In_IdPerfil, @In_IdPermiso)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateReserva]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CreateReserva]
(
	@In_IdCliente int,
	@In_IdSalon int,
	@In_Descripcion nvarchar(100),
	@In_Fecha date,
	@In_Turno nvarchar(12),
	@In_Invitados int,
	@In_Estado nvarchar(50),

	@Out_Id int OUTPUT	
)
AS
BEGIN
	INSERT INTO Reserva (IdCliente, IdSalon, Descripcion, Fecha, Turno, Invitados, Estado)
	VALUES (@In_IdCliente, @In_IdSalon, @In_Descripcion, @In_Fecha, @In_Turno, @In_Invitados, @In_Estado)

	SET @Out_Id = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateReservaServicio]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CreateReservaServicio]
(
	@In_IdReserva int,
	@In_IdServicio int
)
AS
BEGIN
	INSERT INTO ReservaServicio (IdReserva, IdServicio)
	VALUES (@In_IdReserva, @In_IdServicio)

END
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateSalon]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CreateSalon] 
(
	@In_Nombre nvarchar(50),
	@In_Ubicacion nvarchar(100),
	@In_Precio money,
	@In_PrecioCubierto money,
	@In_Capacidad int,
	@In_CantidadMinimaInvitados int
)
AS
BEGIN
	INSERT INTO Salon (Nombre, Ubicacion, Precio, PrecioCubierto, Capacidad, CantidadMinimaInvitados)
	VALUES (@In_Nombre, @In_Ubicacion, @In_Precio, @In_PrecioCubierto, @In_Capacidad, @In_CantidadMinimaInvitados)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateServicio]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CreateServicio]
(
	@In_Descripcion nvarchar(50),
	@In_Valor money
)
AS
BEGIN
	INSERT INTO Servicio (Descripcion, Valor)
	VALUES (@In_Descripcion, @In_Valor)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateUser]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CreateUser]
(
	@In_username nvarchar(50),
	@In_Password char(64),
	@In_Dni int,
	@In_Nombre nvarchar(50),
	@In_Apellido nvarchar(50),
	@In_Mail nvarchar(50),
	@In_IdPerfil int
)
AS
BEGIN 
	
	INSERT INTO Users (Username, Password, IsBlock, Dni, Nombre, Apellido, Mail, IdPerfil)
	VALUES (@In_username, @In_Password, 0, @In_Dni, @In_Nombre, @In_Apellido, @In_Mail, @In_IdPerfil)
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteCliente]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DeleteCliente]
(
	@In_IdCliente int
)
AS
BEGIN
	DELETE FROM Cliente
	WHERE IdCliente = @In_IdCliente
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteFamilia]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DeleteFamilia]
(
	@In_IdFamilia int
)
AS
BEGIN
	IF NOT EXISTS(SELECT * FROM PerfilPermiso WHERE IdPermiso = @In_IdFamilia)
	BEGIN
		DELETE FROM Permiso WHERE IdPermiso = @In_IdFamilia
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeletePerfil]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DeletePerfil]
(
	@In_IdPerfil int
)
AS
BEGIN
	IF NOT EXISTS(SELECT * FROM Users WHERE IdPerfil = @In_IdPerfil)
	BEGIN
		DELETE FROM Perfil WHERE IdPerfil = @In_IdPerfil
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeletePermisoPerfil]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DeletePermisoPerfil]
(
	@In_IdPerfil int	
)
AS
BEGIN
	DELETE FROM PerfilPermiso WHERE IdPerfil = @In_IdPerfil
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeletePermisosFamilia]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DeletePermisosFamilia]
(
	@In_IdFamilia int
)
AS 
BEGIN
	DELETE FROM FamiliaPermiso WHERE IdFamilia = @In_IdFamilia
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteReservaServicios]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DeleteReservaServicios]
(
	@In_IdReserva int
)
AS
BEGIN
	DELETE FROM ReservaServicio WHERE IdReserva = @In_IdReserva
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteSalon]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DeleteSalon] 
(
    @In_Id int
)
AS
BEGIN
	DELETE FROM Salon WHERE IdSalon = @In_Id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteServicio]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DeleteServicio]
(
    @In_Id int
)
AS
BEGIN
	DELETE FROM Servicio WHERE IdServicio = @In_Id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteUser]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DeleteUser]
(
	@In_id int
)
AS
BEGIN
	DELETE FROM Users WHERE Id = @In_id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GenerarReporteReservasMes]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GenerarReporteReservasMes]
(
	@In_Fecha DATE
)
AS
BEGIN
	SELECT Fecha, Turno, Descripcion, Invitados, Salon.Nombre AS NombreSalon, Salon.Ubicacion, 
	(ValoresServicios.ValorTotalServicios + Salon.Precio + (Salon.PrecioCubierto * Invitados)) AS ValorTotal
	FROM Reserva
	JOIN Salon ON Salon.IdSalon = Reserva.IdSalon
	JOIN (
		SELECT Reserva.IdReserva, SUM(Servicio.Valor) AS ValorTotalServicios FROM Reserva
		JOIN ReservaServicio ON ReservaServicio.IdReserva = Reserva.IdReserva
		JOIN Servicio ON Servicio.IdServicio = ReservaServicio.IdServicio
		GROUP BY Reserva.IdReserva
	) AS ValoresServicios ON ValoresServicios.IdReserva = Reserva.IdReserva
	WHERE Estado <> 'Pendiente'
	AND YEAR(Fecha) = YEAR(@In_Fecha)
	AND MONTH(Fecha) = MONTH(@In_Fecha)
	ORDER BY Fecha
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SelectCliente]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SelectCliente]
AS
BEGIN
	SELECT * FROM Cliente
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SelectDisponibilidadSalon]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SelectDisponibilidadSalon]
(
	@In_IdSalon int,
	@In_Fecha date,
	@In_Turno nvarchar(12)
)
AS
BEGIN
	SELECT * FROM Salon
	RIGHT JOIN Reserva ON Salon.IdSalon = Reserva.IdSalon
	WHERE Salon.IdSalon = @In_IdSalon
	AND Reserva.Fecha = @In_Fecha
	AND Reserva.Turno = @In_Turno
	AND Reserva.Estado = 'Confirmado'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SelectFamilias]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SelectFamilias]
AS 
BEGIN
	SELECT * FROM Permiso
	WHERE Permiso.IsFamilia = 1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SelectIdiomas]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SelectIdiomas]
AS
BEGIN
	SELECT * FROM Idioma
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SelectPerfiles]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SelectPerfiles]
AS
BEGIN
	SELECT * FROM Perfil
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SelectPermisos]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SelectPermisos]
AS
BEGIN
	SELECT * FROM Permiso
	WHERE IsFamilia = 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SelectPermisosFamilia]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SelectPermisosFamilia]
(
	@In_IdFamilia int
)
AS
BEGIN
	SELECT Permiso.* FROM FamiliaPermiso
	JOIN Permiso ON Permiso.IdPermiso = FamiliaPermiso.IdPermiso
	WHERE IdFamilia = @In_IdFamilia
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SelectPermisosPerfil]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SelectPermisosPerfil]
(
	@In_IdPerfil int
)
AS
BEGIN
	SELECT Permiso.* FROM PerfilPermiso
	JOIN Permiso ON  Permiso.IdPermiso = PerfilPermiso.IdPermiso
	WHERE IdPerfil = @In_IdPerfil
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SelectReserva]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SelectReserva]
(
	@In_Estado nvarchar(50) = NULL 	
)
AS
BEGIN
	SELECT 
	Reserva.IdReserva,
	Reserva.Descripcion,
	Reserva.Fecha,
	Reserva.Turno,
	Reserva.Invitados,
	Reserva.Estado,
	Cliente.IdCliente,
	Cliente.Dni,
	Cliente.Nombre as NombreCliente,
	Cliente.Apellido,
	Cliente.Direccion,
	Cliente.Email,
	Cliente.Contacto,
	Salon.IdSalon,
	Salon.Nombre as NombreSalon,
	Salon.Ubicacion,
	Salon.Precio,
	Salon.PrecioCubierto,
	Salon.Capacidad,
	Salon.CantidadMinimaInvitados
	FROM Reserva
	LEFT JOIN Cliente ON Cliente.IdCliente = Reserva.IdCliente
	LEFT JOIN Salon on Salon.IdSalon = Reserva.IdSalon
	WHERE Reserva.Estado = @In_Estado OR @In_Estado IS NULL
	ORDER BY Fecha ASC
END



SELECT * FROM ReservaServicio
GO
/****** Object:  StoredProcedure [dbo].[SP_SelectReservaServicio]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SelectReservaServicio]
(
    @In_IdReserva int
	
)
AS
BEGIN
	SELECT Reserva.IdReserva, Servicio.* FROM Reserva
	RIGHT JOIN ReservaServicio ON ReservaServicio.IdReserva = Reserva.IdReserva
	LEFT JOIN Servicio ON Servicio.IdServicio = ReservaServicio.IdServicio
	WHERE Reserva.IdReserva = @In_IdReserva
END



SELECT * FROM ReservaServicio
GO
/****** Object:  StoredProcedure [dbo].[SP_SelectSalon]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SelectSalon] 
AS
BEGIN
	SELECT * FROM Salon
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SelectServicio]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SelectServicio]

AS
BEGIN
	SELECT * FROM Servicio
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SelectTraduccion]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SelectTraduccion]
(
	@In_IdIdioma int,
	@In_NombreControl nvarchar(100)
)
AS 
BEGIN 
	SELECT Traduccion FROM IdiomaControl 
	WHERE IdIdioma = @In_IdIdioma AND NombreControl = @In_NombreControl
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SelectUser]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC	[dbo].[SP_SelectUser]
(
	@In_username nvarchar(50) = NULL
)
AS
BEGIN
	SELECT * FROM Users
	JOIN Perfil ON Perfil.IdPerfil = Users.IdPerfil
	WHERE Username = @In_username OR @In_username IS NULL
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SelectUserPerfil]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SelectUserPerfil]
(
	 @In_IdUser int
)
AS 
BEGIN
	SELECT * FROM Users
	JOIN Perfil ON Perfil.IdPerfil = Users.IdPerfil
	WHERE Users.Id = @In_IdUser
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateCliente]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdateCliente]
(
	@In_IdCliente int,
	@In_Dni int,
	@In_Nombre nvarchar(50),
	@In_Apellido nvarchar(50),
	@In_Direccion nvarchar(100),
	@In_Email nvarchar(100),
	@In_Contacto int
)
AS
BEGIN
	UPDATE Cliente SET
		Dni = @In_Dni,
		Nombre = @In_Nombre,
		Apellido = @In_Apellido,
		Direccion = @In_Direccion,
		Email = @In_Email,
		Contacto = @In_Contacto
	WHERE IdCliente = @In_IdCliente
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateFamilia]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdateFamilia]
(
	@In_IdPermiso int,
	@In_Nombre nvarchar(50)
)
AS 
BEGIN
	IF NOT EXISTS(SELECT * FROM Permiso WHERE Nombre = @In_Nombre)
	BEGIN
		UPDATE Permiso SET
			Nombre = @In_Nombre
		WHERE IdPermiso = @In_IdPermiso
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePerfil]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdatePerfil]
(
	@In_IdPerfil int,
	@In_Descripcion nvarchar(50)
)
AS
BEGIN
	IF NOT EXISTS(SELECT * FROM Perfil WHERE Descripcion = @In_Descripcion)
	BEGIN
		UPDATE Perfil SET
			Descripcion = @In_Descripcion
		WHERE IdPerfil = @In_IdPerfil
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateReserva]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdateReserva]
(
	@In_IdReserva int,
	@In_IdCliente int,
	@In_IdSalon int,
	@In_Descripcion nvarchar(100),
	@In_Fecha date,
	@In_Turno nvarchar(12),
	@In_Invitados int,
	@In_Estado nvarchar(50)
)
AS
BEGIN
	UPDATE Reserva SET
		IdCliente = @In_IdCliente,
		IdSalon = @In_IdSalon,
		Descripcion = @In_Descripcion,
		Fecha = @In_Fecha,
		Turno = @In_Turno,
		Invitados = @In_Invitados,
		Estado = @In_Estado
	WHERE IdReserva = @In_IdReserva
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateSalon]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdateSalon] 
(
    @In_Id int,
	@In_Nombre nvarchar(50),
	@In_Ubicacion nvarchar(100),
	@In_Precio money,
	@In_PrecioCubierto money,
	@In_Capacidad int,
	@In_CantidadMinimaInvitados int
)
AS
BEGIN
	IF EXISTS(SELECT * FROM Salon WHERE IdSalon = @In_Id)
	BEGIN
		UPDATE Salon SET
			Nombre = @In_Nombre,
			Ubicacion = @In_Ubicacion,
			Precio = @In_Precio,
			PrecioCubierto = @In_PrecioCubierto,
			Capacidad = @In_Capacidad,
			CantidadMinimaInvitados = @In_CantidadMinimaInvitados
		WHERE IdSalon = @In_Id
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateServicio]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdateServicio]
(
	@In_Id int,
	@In_Descripcion nvarchar(50),
	@In_Valor money
)
AS
BEGIN
	IF EXISTS(SELECT * FROM Servicio WHERE IdServicio = @In_Id)
	BEGIN
		UPDATE Servicio SET
			Descripcion = @In_Descripcion,
			Valor = @In_Valor
		WHERE IdServicio = @In_Id
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUser]    Script Date: 14/07/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdateUser]
(
	@In_Id int,
	@In_Username nvarchar(50),
	@In_Password char(64),
	@In_IsBlock bit,
	@In_Dni int,
	@In_Nombre nvarchar(50),
	@In_Apellido nvarchar(50),
	@In_Mail nvarchar(50),
	@In_IdPerfil int
)
AS
BEGIN
	
	UPDATE Users SET
		Username = @In_Username,
		Password = @In_Password,
		IsBlock = @In_IsBlock,
		Dni = @In_Dni,
		Nombre = @In_Nombre,
		Apellido = @In_Apellido,
		Mail = @In_Mail,
		IdPerfil = @In_IdPerfil
	WHERE Id = @In_id
	
END
GO
USE [master]
GO
